# The environment the app is running in, either production, staging or development
NODE_ENV=

# The base REST endpoint that is used to talk to @cryb/api
API_URL=http://localhost:4000
# This should the same secure key in @cryb/api/.env under 'PORTALS_API_KEY'
API_KEY=api-portals-key

# This should the same secure key in @cryb/portal/.env under 'PORTALS_KEY'
PORTAL_KEY=portals-portal-key

# The URI used for connecting to the MongoDB database
MONGO_URI=
# The URI used for connecting to the redis-ha sentinel instance
# If left blank or undefined, @cryb/portals will automatically connect to redis://localhost:6379
REDIS_URI=

# Optional: the JSON Google Application Credentials used for gcloud.driver
# GOOGLE_APPLICATION_CREDENTIALS=

# Optional: configuration for kubernetes.driver
# The URL of the registry the image for the portal is located at
# K8S_PORTAL_IMAGE_REGISTRY_URL=
# The name of the secret for pulling the image from the registry
# K8S_PORTAL_IMAGE_PULL_SECRET=

# The name of the secret for the container env variables
# K8S_PORTAL_ENV_SECRET=

# The requested CPU limit for the portal instance
# K8S_PORTAL_CPU_LIMIT=
# The requested memory limit for the portal instance
# K8S_PORTAL_MEMORY_LIMIT=
# The requested CPU for the portal instance
# K8S_PORTAL_CPU_REQUESTED=
# The requested memory for the portal instance
# K8S_PORTAL_MEMORY_REQUESTED=